body{background: rgb(138, 121, 155);
    font: normal 15pt arial;


}

header{
   color: white;
   text-align: center;

}
section{ 
   background: white;
   border-radius: 10px;
   padding: 15px;
   width: 600px;
   margin: auto;
   box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

select#flist{
   width: 150px;
}

footer{
   color: white;
   text-align: center;
   font-style: italic;


}